body {
    background: linear-gradient(to right, #fafafa, #0080ff);
}
.welcome {
    font-size: 142px;
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    line-height: 1.5;
    align-items: center;
}

.weather{
    font-size: 82px;
    font-family: 'Pacifico', cursive;
    color: #ffffff;
    line-height: 1.5;
    align-items: center;
}
p{
    align-items: center;
    font-size: 42px;
    color: #ffffff;

}
