/* navagativeBarmini.css */

/* Navigation Bar */
header nav ul li form select {
  background-color: #444;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  margin: 0;
}

header nav ul li a {
  padding: 10px 15px;
  border-radius: 5px;
}

header nav ul li a:hover {
  background-color: #555;
}
  