<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Book Form</title>
    <link rel="stylesheet" href="/css/LoginForm.css" type="text/css">
    <link href="/css/NavigationBar.css " type="text/css" rel="stylesheet">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/Home">Home</a>
        <a href="/Home/Addbooks'">Add Book</a>
        <a href="/search">Find Books</a>
        <a href="/Profile">Account</a>
        <a href="/Cus_Show">Customer List</a>
        <a href="/Book_show">Book List</a>
        <a href="/NewPaper">Find Name</a>
        
      </div>
    <h1>Add Book</h1>
    <form action="/Addbooks" method="POST">
        <input type="text" placeholder="Book ID" name="Book_id" >
        <input type="text" placeholder="Author" name="author" />
        <input type="text" placeholder="Title" name="title" />
        <input type="text" placeholder="Parent Folder" name="parentFolder" /> <!-- Corrected name attribute -->
        <input type="file" placeholder="Image" name="image" />
        <button type="submit">Add Book</button>
    </form>
</body>
</html>
