<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=th, initial-scale=1.0">
    <title>Forgot pass</title>
    <link href="../css/ForgotPass.css" type="text/css" rel="stylesheet">

</head>
<body>
    <form action="/UpdatePasss/<%= Email %>" method="post">
        <h><strong>HELLO</strong></h>
        <h><%= UserName %></h>
        <input type="text" name="password" placeholder="Enter your password">
        <button type="submit">Update Password</button>  <!-- Button -->
    </form>
</body>
</html> 