<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tư vấn</title>
    <!-- Thêm thư viện Socket.IO -->
    <link href="/css/consulting.css" type="text/css" rel="stylesheet">

    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>SHOP: <%= getIn4Store.UserName %></h1>
    <p>Tư vấn</p>

    <!-- Div để chứa các tin nhắn -->
    <div id="messages" style="border: 1px solid #ccc; padding: 10px; height: 300px; overflow-y: auto;">
    </div>

    <script>
        const socket = io();
        const Store_id = '<%= getIn4Store._id %>';
        socket.emit('join_consultingroom', Store_id);

        socket.on('loadRequest', (filteredMessages) => {
            if (Array.isArray(filteredMessages)) {
                filteredMessages.forEach((chatMessage) => {
                    if (chatMessage && chatMessage.userName && chatMessage.nameProduct && chatMessage.user_Id) {
                        const messageDiv = document.createElement('div');
                        messageDiv.innerHTML = `
                            <strong>NameUser:</strong> ${chatMessage.userName} 
                            <label><strong>Product:</strong> ${chatMessage.nameProduct}</label>
                            <form action='/consultant/${chatMessage.user_Id}' method='get'> 
                                <button type="submit"><i class="fa-solid fa-message"></i></button>
                            </form>
                        `;
                        document.getElementById('messages').appendChild(messageDiv);
                    }
                });

                // Chức năng cuộn xuống để hiện tin nhắn mới nhất
                const messagesDiv = document.getElementById('messages');
                messagesDiv.scrollTop = messagesDiv.scrollHeight;
            }
        });
    </script>
</body>
</html>
