<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Error.css"  >
    <title>Error</title>
</head>
<body>
    <div class ="Error-container">
        <div class ="Error-title">
            Error 404
        </div>
    </div>
</body>
</html>