<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác nhận OTP</title>
    <!-- Nếu bạn có các file CSS cần áp dụng cho trang này, hãy đặt link ở đây -->
    <link href="/css/mailOTP.css" rel="stylesheet" type="text/css">
    <link href="/css/notifacation.css " type="text/css" rel="stylesheet">

</head>
<body>
    <% if (typeof messages !== 'undefined' && messages.error) { %>
        <div class="notification error-notification">
            <%= messages.error %>
        </div>
    <% } %>
    <div class="container">
      <h2>Xác nhận OTP</h2>
        <p>Vui lòng nhập Email của bạn </p>
        <form action="/Fogot_Pass"  method="POST" >
            <label for="Email">Email:</label>
            <input type="email" id="Email" name="Email" required>
            <button type="submit">Xác nhận</button>
        </form>
    </div>
</body>
</html>
