<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/find.css" type="text/css">      
  <link href="/css/notifacation.css " type="text/css" rel="stylesheet">

  <title>Add Book</title>
</head>
<body>        
    <h1>Add Book</h1>
    <% if (typeof messages !== 'undefined' && messages.error) { %>
      <div class="notification error-notification">
          <%= messages.error %>
      </div>
  <% } %>
  <% if (typeof messages !== 'undefined' && messages.success) { %>
      <div class="notification success-notification">
          <%= messages.success %>
      </div>
  <% } %>

    <div class="container">
        <form action="/Addbooks" method="post">
          <label for="BookTitle">Title</label>
          <input type="text" name="BookTitle" id="BookTitle">
          <label for="Author">Author</label>
          <input type="text" name="Author" id="Author">
          <label for="Year">Year</label>
          <input type="date" name="Year" id="Year">
          <label for="About">About</label>
          <input type="text" name="About" id="About">
          <label for="Adress">Adress</label>
          <input type="text" name="Adress" id="Adress">
          <button type="submit">Add Book</button>
        </form>
      </div>
</body>
</html>