<!-- views/profile.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/CssForProfile.css" type="text/css" rel="stylesheet">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

</head>
<body>
    <div class="profile-container">
        <h1>Welcome, <%= UserName %></h1>
        <p>Your Profile Information:</p>
        <ul>
            <li><strong>Email:</strong> <span class="profile-info"><%= Email %></span></li>
            <li><strong>BirthDay:</strong> <span class="profile-info"><%= BirthDay %></span></li>
            <li><strong>Password:</strong> <span class="profile-info"><%= Password %></span></li>
        </ul>
        <form action="/yourStore" method="get">
            <button><i class="fa-solid fa-store"></i></button>
        </form>
    </div>
</body>
</html>
