<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your store</title>
    <link href="/css/in4Product.css" type="text/css" rel="stylesheet">

</head>
<body>

    <div class="product-container">

    <form action="/addProduct" method = "get">
        <button type="submit">Thêm sản phẩm</button> 
    </form>
    <form action="/order" method = "get">
        <button type="submit">Đơn hàng</button> 
    </form>
    <form action="/wareHouses" method = "get">
        <button type="submit">Kho hàng </button> 
    </form>
    </div>  
</body>
</html>